<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.myntra.testScripts.TC_01_EditProfile"/>
      <class name="com.myntra.testScripts.TC_02_Edit_Address"/>
      <class name="com.myntra.testScripts.TC_03_AddNewAddress"/>
      <class name="com.myntra.testScripts.TC_Login_to_Myntra"/>
      <class name="com.myntra.testScripts.TC_04_Add_MensTshirt_to_Cart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
